include layout

extends layout

block content
  nav
    ul
      li: a(href='/games/new') New Game
      li: a(href='/login') Login
      li: a(href="/users/new") Sign Up
  h1= title
  p Welcome to #{title}
  
