doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/foundation/css/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/foundation/js/vendor/modernizr.js")
    //- script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js")
    script(type="text/javascript", src="/jquery/jquery.js")
    script(src="/foundation/js/vendor/fastclick.js")
    script(src='/javascripts/vendor/underscore-1.5.2.js')
    script(type='text/javascript', src='/foundation/js/foundation.min.js')
      
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/app-sockets.js')
  body
    nav(data-topbar).top-bar
      ul.title-area
        li.name
          h1
            a(href="#") Dominion
      
      section.top-bar-section
       ul.right
          - if (session && session.firstName)
            li.has-dropdown
              a(href='#') Welcome #{session.firstName} | 
              ul.dropdown(data-dropdown) 
                li: a(href='/logout') Logout
     
       ul.left
        - if (session && session.firstName)
          li: a(href='/games') Games
          li: a(href='/games/new') New Game
        - else
          li: a(href='/login') Login
          li: a(href="/users/new") Sign Up

    block content

    script
      $(document).foundation();

    
