doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
    script(src='/javascripts/vendor/underscore-1.5.2.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/app-sockets.js')
  body
    nav
      h1 Dominion
      ul
        - if (session && session.firstName)
          li 
            span Welcome #{session.firstName} | 
            a(href='/logout') Logout
          li: a(href='/games') Games
          li: a(href='/games/new') New Game
        - else
          li: a(href='/login') Login
          li: a(href="/users/new") Sign Up
    block content