body {
  background-color: green;
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.card {
  position: relative;
  width: 125px;
  height: 150px;
  border: 1px solid gray;
  margin: 10px 5px;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 5px 5px 15px black;
}

.row {
  width: 100% !important;
}

a {
  color: #00B7FF;
}

.statusBar {
  min-height: 51px;
  border: 1px solid black;
  text-align: right;
}

.statusBar .name {
  display: inline-block;
  margin: 5px;
}

.highlight {
  border: 5px solid red;
}

.temp_stats {
  position: absolute;
  top: 0;
  right: 0;
}

.board {
  position: relative;
  /*border: 1px solid red;*/
  width: 100%;
  height: 775px;
}

.board .gameState {
  position: absolute;
  text-align: center;
  border: 1px solid green;
  width: 100%;
  height: 750px;
  background-color: green;
}

.board .gameState > div {
  display: inline-block;
  border: 1px solid black;
  height: 500px;
}

.board .gameState .mainTray {
  position: relative;
  width: 65%;
}

.board .gameState .mainTray .row:last-child {
  position: absolute;
  bottom: 0;
}

/*.board .gameState .treasureCards .card {
  position: relative;
  width: 125px;
  height: 150px;
  border: 1px solid black;
  margin: 10px 5px;
}
*/
.board .gameState .treasureCards .card .qty{
  position: absolute;
  border: 1px solid black;
  border-radius: 100%;
  padding: 0.3rem;
  bottom: -10px;
  right: -5px;
  background-color: darkred;
  color: white;
}

.board .gameState .treasureCards, .board .gameState .victoryCards {
  vertical-align: top;
  border: 1px solid black;
  width: 15%;
}

.board .gameState .mainTray .cards {
  vertical-align: top;
}

.board .gameState .mainTray .cards .card {
  position: relative;
  float: left;
 /* border: 1px solid black;
  width: 125px;
  height: 150px;
  margin: 5px;
 */ 
}

.board .gameState .mainTray .cards .card .qty {
  position: absolute;
  border: 1px solid black;
  border-radius: 100%;
  padding: 0.3rem;
  bottom: -10px;
  right: -5px;
  background-color: darkred;
  color: white;

}

.board .gameState .mainTray .cards .card .cost {
  position: absolute;
  left: 50%;
  color: black;

}

.board .gameState .victoryCards .card {
  position: relative;
  width: 125px;
  height: 150px;
  border: 1px solid black;
  margin: 10px 5px;
}

.board .gameState .victoryCards .card .qty{
  position: absolute;
  border: 1px solid black;
  border-radius: 100%;
  padding: 0.3rem;
  bottom: -10px;
  right: -5px;
  background-color: darkred;
  color: white;

}


.board .playerTray {
  text-align: center;
  vertical-align: top;
  position: absolute;
  bottom: 40px;
  /*border: 1px solid blue;*/
  width: 100%;
  height: 240px;
}

.board .playerTray > div {
  display: inline-block;
  vertical-align: top;
  width: 125px;
  height: 150px;
  border: 1px solid orange;
  margin: 10px 5px;
}

.board .playerTray .playerStatus {
  width: 100%;
  display: block;
  text-align: left;
}

.board .playerTray .playerStatus ul {
  list-style-type: none;
}

.board .playerTray .playerStatus .row {
  width: 100% !important;
  text-align: left;
}

.board .playerTray .playerStatus .row .large-3.columns > div {
  display: inline-block;
  vertical-align: bottom;
}

.players {
  display: inline-block;
  margin: 1rem;
  text-align: left;
  vertical-align: top;
}

.moves {
  display: inline-block;
}

.messages {
 margin: 1rem;
 border: 1px solid black;
 min-height: 115px;
}

.board .playerTray .hand {
  width: 68%;
  height: 180px;
}

.board .playerTray .hand .cards .card {
  display: inline-block;
/*  border: 1px solid black;
  width: 125px;
  height: 150px;
  margin: 5px;
*/
}

.board .playerTray .hand .cards .card.highlight {
  border: 2px solid red;
  background: pink;
}
/*used to override Foundation's table styling*/

table {
  vertical-align: middle;
  background: none;
  margin-top: 1rem;
}
table thead, table tfoot {
  background: none; 
}
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
  color: #222222;
  text-align: left; 
}
  
table tr th, table tr td {
  color: #222222; 
}
  
table .even, table .alt, table tr:nth-of-type(even) {
  background: none; 
}

table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
  display: table-cell;
  line-height: 1.125rem; 
}

.trash {
  background-color: maroon;

}

.cleanup {
  margin-bottom: 0;
}


