extends ../layout

block content
  //- p Players: "#{playerNames}" 
  //- p Cards: "#{game.cards.length}"
  //- h3 My Player Status: "#{me}"
  //- p Deck: "#{_und.pluck(me.deck, 'name').join(',')}"
  //- p Hand: "#{_und.pluck(me.hand, 'name').join(',')}"
  //- p Turn Token: "#{me.turnTokens}"
    
  //- .playerNames.right
  //- .statusBar
  //-   - each player in playerNames
  //-     span player
  //-   - if (!game.isActive)
  //-       //- button#start_game Start Game
  //-   - else
  //-       button#play_card.right Play Card
  .board
    .gameState
      .treasureCards
        .cards
      .mainTray
        .row.centered
          .large-12-columns
            button#start_game Start Game
        .row
          .large-12.columns 
            .cards
        .row
          .playerStatus
            .row
              .large-4.columns
                .players 
                .moves
                  table
                    tr
                      td Action
                      td#actions 
                    tr
                      td Buy
                      td#buys 
                    tr
                      td
                        button.button.tiny.cleanup#cleanup Cleanup
              .large-8.columns
                .messages Messages go here
      .victoryCards
        .cards
    .playerTray
      .deck 
      .hand
        .cards
      .trash

  script
    $(document).ready(function() {
      $('nav ul.right').prepend("<li><a>#{game.title}</a></li>");

      function displayCards(names, cards, cssSelector) {
        $(cssSelector).empty();
        _.each(names, function(name) {
          var newCards, cost, value, html;
          newCards = _.where(cards, {name: name});
          cardType = newCards[0].cardType;
          cost     = newCards[0].cost;
          value    = newCards[0].value;
          html     = "<div class='card' id='"+name+"' data-card-type='"+cardType+"' data-cost='"+cost+"' data-value='"+value+"'";
          html    += "<span>"+name+"</span>";
          html    += "<div class='qty'>"+newCards.length+"</div>"
          html    += "<div class='cost'>"+cost+"</div></div>" 
          $(cssSelector).append(html);
        });
      }

      function displayHand(hand, cssSelector) {
        $(cssSelector).empty();
        
        var html;
        _.each(hand, function(card) {
          var value    = card.value;
          var cardType = card.cardType;

          html = "<div class='card' id='"+card._id+"' data-card-type='"+cardType+"' data-value='"+value+"'>";
          html += card.name;
          html += "</div>";
          $(cssSelector).append(html);
        });
      }

      function updatePlayerNames(names, cssSelector) {
        $(cssSelector).empty();
        
        _.each(names, function(name) {
          var html = "<div class='name'>"+name+"</div>";
          $(cssSelector).append(html);
        });
      }

      var patrons = [];
      var socket = io.connect();

      socket.emit('joinroom', {
        game:    "#{game.id}", 
        user_id: "#{session.user_id}",
        user: {
          id:        "#{session.user_id}",
          firstName: "#{session.firstName}"
        }
      });

      socket.on('updatechat', function(data) {
        $('#patrons').empty();
        for(var i=0; i < data.length; i++) {
          var user = data[i];
          $('#patrons').append('<li>'+user.firstName+'</li>');
          patrons.push(user);
        } 
      });

      socket.on('update', function(data) {
        window.game   = data;
        window.player = data.player;

        //- keep the start game button hidden
        $('#start_game').hide();

        $('#game_status').html(data.player.firstName);
        //- update buys, action count
        $('#actions').html(player.actions);
        $('#buys').html(player.buys);
        
        //- select kingdom cards
        var kingdomCards = _.select(game.cards, function(card) {
          return card.cardType == 'Action' || card.cardType == 'Action-Reaction' || card.cardType == 'Action-Attack';
        });

        //- select kingdom card names 
        var kingdomCardNames = _.uniq(_.map(kingdomCards, function(card) {return card.name}));

        //- display cards
        displayCards(['Copper','Silver','Gold'], game.cards,    '.gameState .treasureCards .cards');
        displayCards(['Estate','Duchy','Province'], game.cards, '.gameState .victoryCards .cards');
        displayCards(kingdomCardNames, kingdomCards, '.mainTray .cards');
        
        //- display hand
        displayHand(data.player.hand, '.hand .cards');  
        
        // update player names
        updatePlayerNames(data.playerNames, '.players');
        
        //- highlight clicked hand cards
        $('.hand .cards .card').click(function(e) {
          $("#" + e.target.id).toggleClass('highlight');
        });

      });

      $('#start_game').click(function(e) {
        e.preventDefault();
        $.ajax({
          
          type:         'POST',
          dataType:     'json',
          contentType:  "application/json; charset=utf-8",
          url:          "/games/#{game.id}/start",
          data:         JSON.stringify({ data: patrons, game_id: "#{game.id}" })

        }).done(function() {
          $('#start_game').fadeOut();
        }).fail(function(err) {
          alert(err);

          console.error(err);
        });
      });
      
      $('#cleanup').click(function(e) {
        e.stopPropagation();
        
        $.ajax({
          type:        'POST',
          dataType:    'json',
          contentType: 'application/json; charset=utf-8',
          url:         "/games/#{game.id}/cleanup",
          data:        JSON.stringify(window.player)
          }).done().fail();
      });

      $('#play_card').click(function(e) {
        socket.emit('playcard', 'This is the message');

      });

      //- $(".mainTray .cards").dblclick(function(e) {
      //- $(".card:not('.playerTray .cards')").dblclick(function(e) {
      $(".cards:not('.playerTray .cards')").dblclick(function(e) {
        
      //- $(".card").not(".playerTray .card").dblclick(function(e) {
        console.log('GOT HERE!!!!');
        e.stopPropagation();
        var data, cards, card, name, cost, treasureCards;
        name  = e.target.id;
        cards = _.where(game.cards, {name:name});
        card  = cards.pop(); 
        
        //- make sure highlighted cards are only treasure cards 
        treasureCards = _.select($('.highlight'), function(card) {return $(card).data('card-type') == 'Treasure';}); 
        debugger;
        //- determine if player can afford the card
        cost   = card.cost;
        values = _.map( treasureCards, function(h) {return $(h).data('value')});
        total  = _.reduce(values, function(memo, val) {return memo + val;}, 0);

        //- send if player can afford it.
        if (total >= cost) {
          var data = {
            gameId: "#{game.id}",
            userId: player.user_id,
            me: "#{me}",
            card: card,
            treasureCardIds: _.map($('.highlight'), function(card) {return card.id})
          };
            
          $.ajax({
            type:        'POST',
            dataType:    'json',
            contentType: 'application/json; charset=utf-8',
            url:          "/games/#{game.id}/purchase",
            data:         JSON.stringify(data)

          }).done().fail();
        }

      });

    });
